/*
Colour pallette:

Off white - #EAEAEC
Accents - #04B3D5, #FFCC85
Black/Grey - #6C6D71 / #B2BAC9

*/

* {
  font-family: "Josefin Sans", monospace;
}


body {
	background-color: #F6F6F8;
	margin: 0;
	width: 100%;
  height: 100%;
	font-family: 'Josefin Sans', monospace;
}

h1 {
	color: #04B3D5;
	font-family: 'Amatic SC', 'Josefin Sans', monospace;
}

p {
	font-family: 'Josefin Sans', monospace;
	font-size: 24px;
	color: #6C6D71;
}

* {box-sizing:border-box}

button, input[type="button"], input[type="submit"] {
  color: #EAEAEC;
  text-transform: uppercase;
  text-decoration: none;
  background: #B2BAC9;
  padding: 12px;
  border-radius: 3px;
  display: inline-block;
  border: none;
  transition: 0.4s ease 0s;
  cursor: pointer;
}

button:hover, input[type="button"]:hover, input[type="submit"]:hover {
  background-color: #6C6D71;
}

input {
  margin: 12px;
}

input:invalid {
  background-color: pink;
}

input[type=radio], input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 13.33333px;
  right: 0;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 40px;
  transition: all 0.2s ease-out 0s;
  background: #cbd1d8;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 1000;
  vertical-align: text-bottom;
}


input[type=radio], input[type=checkbox]:hover {
  background: #9faab7;
}


input[type=radio], input[type=checkbox]:checked {
  background: #04B3D5;
}


input[type=radio], input[type=checkbox]:checked::before {
  height: 40px;
  width: 40px;
  position: absolute;
  content: "\2713";;
  display: inline-block;
  font-size: 26.66667px;
  text-align: center;
  line-height: 40px;
}


input[type=radio], input[type=checkbox]:checked::after {
  -webkit-animation: click-wave 0.65s;
  -moz-animation: click-wave 0.65s;
  animation: click-wave 0.65s;
  background: #04B3D5;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}

.detailInput {
  font-size: 16px;
  padding: 6px;
}


.suiteButton[selected] {
  background-color: #6C6D71;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.Slides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  display: block;
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.slideCaption {
  color: #6C6D71;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #6C6D71;
  font-size: 18px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.textOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #6C6D71; 
}

.textOverlay:hover {
  opacity: 1;
  
}

.hoverText {
  color: #EAEAEC;
  font-size: 24px;
  font-family: "Josefin Sans", monospace;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.slideShowImage:hover {
  opacity: 0;
}

.section {
	border-radius: 10px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 4%;
 	border: 2px #B2BAC9 solid;
 	text-align: center;
 	padding: 12px;
}

.tab {
  display: none;
}

.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #EAEAEC;
  border: none;  
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #B2BAC9;
}

#Header {
	border-bottom: 3px solid #04B3D5;
}

#MainTitle {
	font-size: 56px;
	margin-bottom: 4px;
	margin-top: 12px;
	display: inline-block;
	vertical-align: middle;
}

#HeaderLogo {
	margin-left: 0px;
	margin-right: auto;
	display: inline-block;
	height: 70px;
	vertical-align: bottom;
}

#SelectedRoom {
  display: none;
  background-size: cover;
  width: 40%;
  height: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  padding: 12px;
  border: 3px solid #B2BAC9;
}

#ExtraDetail {
  width: 20%;
  height: 64px;
  margin: 12px;
  vertical-align: middle;
  resize: none;
}

#StepButtons {
  float: right;
}

#ConfirmOverlay {
  position: fixed;
  overflow: hidden;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #B2BAC9;
  transition: 0.2s ease 0.1s;
  width: 100vw;
  height: 100%;
  display: none;
}

#ReloadButton {
  position: fixed;
  font-size: 64px;
  top: 2%;
  right: 3%;
  text-decoration: none;
}

#Footer {
	width: 100%;
	bottom: 0px;
    margin: 60px 0px 0px 0px;
	background-color: #B2BAC9;
	padding: 12px;
	border-top: 2px solid #04B3D5;
}


@media only screen and (max-width: 750px) {
	#Header {
		text-align: center;
	}

  #SelectedRoom {
    width: 200px;
    height: 20%;
  }

  #ExtraDetail {
    margin-left: auto;
    margin-right: auto; 
    display: block;
    width: 80%;
  }

  #StepButtons {
    float: none;
  }

  .textOverlay {
    display: none;
  }

  .slideCaption, .numberText {
    font-size: 12px;
  }

  .detailInput {
    margin-left: 6px;
    width: 60%;
    font-size: 12px;
  }


}